*{
    margin: 0px;
    padding: 0px;
}

.card{
    background-color: #f4f3f3;
    width: 300px;
    height: 400px;
    text-align: center;
    margin: 5%;
    border-radius: 10px;
}

.background{
    background: linear-gradient(to right , green , royalblue);
    width: 100%;
    height: 140px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.image{
    border-radius: 50%;
    height: auto;
    width: 100px;
    position: relative;
    top: 85px;
    border: 5px solid #f4f3f3;
}

.info{
    position: relative;
    top: 50px;
    padding: 10px;
}

.icons{
    position: relative;
    top: 70px;
    display: flex;
    justify-content: center;
    gap: 20px;
}

.icons a i{
    font-size: 20px;
    color: grey;
    transition: 0.3s ease-in-out;
    cursor: pointer;
}

.icons a i:hover{
    color: black;
    transform: scale(1.1);
}

h1{
    color: blue;
}