*{
    margin: 0px;
    padding: 0px;
}

.main{
    width: 440px;
    height: 240px;
    background: linear-gradient(to right, #ff9966, #ff5e62);
    margin-top: 14%;
    margin-left: 35%;
    border-radius: 10px;
    box-shadow: 0px 0px 10px #ff5e62;
}

.card-image{
    background-color: whitesmoke;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    position: relative;
    top: 50px;
    left: -70px;
    box-shadow: 0px 0px 10px white;
}
.shoes-image{
    width: 159px;
    height: auto;
    position: relative;
    top: -50px;
    left: 17px;
    transform: rotate(40deg);
}

.card-info{
    /* background-color: blue; */
    margin-left: 86px;
    position: relative;
    top: -160px;
}

.view{
    /* position: relative;
    top: 50px; */
    width: 70px;
    padding: 5px;
    font-size: 15px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
}

.view:hover{
    background-color: whitesmoke;
    box-shadow: 0px 0px 10px whitesmoke;
    transform: scale(1.02);
}

.buy{
    background-color: yellow;
    width: 70px;
    padding: 5px;
    font-size: 15px;
    border-radius: 5px;
    border: none;
    /* box-shadow: 0px 0px 9px yellow; */
    cursor: pointer;
}

.buy:hover{
    background-color: gold;
    box-shadow: 0px 0px 10px gold;
    transform: scale(1.02);
}