*{
    margin : 0px;
    padding : 0px;
}

body{
    font-family: Arial, Helvetica, sans-serif;
}

.card-wrappers{
    display: flex;
    flex-wrap: nowrap;
    gap: 30px;
    padding: 40px;
}

.pokemon-card{
    flex-shrink: 0;
}
.pokemon-card:nth-child(1){
    /* background-color: red; */
    background: linear-gradient(to right , #de9522 , gold);
    width: 350px;
    height: auto;
    margin: 4%;
    padding: 10px;
    border-radius: 10px;
}

.pokemon-card:nth-child(2){
    /* background-color: red; */
    background: linear-gradient(to right , #4b9ca0 , #4194a6);
    width: 350px;
    height: auto;
    margin: 4%;
    padding: 10px;
    border-radius: 10px;
}
.pokemon-card:nth-child(3){
    /* background-color: red; */
    background: linear-gradient(to right , #de9522 , gold);
    width: 350px;
    height: auto;
    margin: 4%;
    padding: 10px;
    border-radius: 10px;
}
.pokemon-card:nth-child(4){
    /* background-color: red; */
    background: linear-gradient(to right , #de9522 , gold);
    width: 350px;
    height: auto;
    margin: 4%;
    padding: 10px;
    border-radius: 10px;
}

/* Pikachu */

.background:nth-child(1){
    background: linear-gradient(to right , #744d07, #795b00 );
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

/* Squirtle */

.background:nth-child(2){
    background: linear-gradient(to right , #744d07, #795b00 );
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

/* Charmander */

.background:nth-child(3){
    background: linear-gradient(to right , #744d07, #795b00 );
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

/* Balbasaur */

.background:nth-child(4){
    background: linear-gradient(to right , #744d07, #795b00 );
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.image{
    position: relative;
    top: 8px;
    left: 70px;
    width: 150px;
    height: 150px;
    margin: 2%;
    padding: 20px;
}

/* Pikachu */

.content:nth-child(1){
    background-color: #c1ac7d;
    padding: 10px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

/* Squirtle */

.content:nth-child(2){
    background-color: #c1ac7d;
    padding: 10px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

/* Charmander */

.content:nth-child(3){
    background-color: #c1ac7d;
    padding: 10px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

/* Balbasaur */

.content:nth-child(4){
    background-color: #c1ac7d;
    padding: 10px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.pokemon-name{
    text-align: center;
    font-size: 25px;
    font-weight: lighter;
    padding: 10px;
}

.ability{
    background-color: black;
    color: white;
    padding: 5px;
    width: 75px;
    display: block;
    text-align: center;
    border-radius: 4px;
    position: relative;
    top: -73px;
    left: 10px;
}   


.pokemon-stats > p{
    letter-spacing: 1px;
}

.pokemon-logo{
    text-align: center;
    font-size: 20px;
    padding: 20px;
    color: #e7cf9b;
}
