*{
    margin: 0px;
    padding: 0px;
}

.cards{
    width: 50%;
    background-color: white;
    margin: 50px;
    border-radius: 5px;
    box-shadow: 2px 2px 10px black;
}

.image img{
    width: 100%;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.title{
    text-align: center;
}

.des{
    text-align: center;
}

p{
    /* color: white; */
    position: relative;
    top: 7px;
}

button{
    margin-top: 30px;
    margin-bottom: 30px;
    background-color: white;
    border: 1.35px solid black;
    border-radius: 5px;
    padding: 5px;
    cursor: pointer;
}

button:hover{
    background-color: black;
    color: white;
    transition: 0.2s;
    transform: scale(1.1);
}